section.completed_form {
  background-color: #d3d3d3;
  width: 100%;
  padding: 1.5rem;
  border-radius: 3px;
  margin-bottom: 2rem;
  font-size: 1.46em;
}
section.completed_form form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
section.completed_form form input,
section.completed_form form select,
section.completed_form form textarea {
  font-size: 1.25rem;
}
section.completed_form form label,
section.completed_form form input {
  width: 100%;
}
section.completed_form form input[type="number"] {
  width: 5rem;
}
section.completed_form form input[type="radio"] {
  width: 1.5rem;
  height: 1.5rem;
}
section.completed_form form input[type="date"] {
  width: 10rem;
}
section.completed_form form input,
section.completed_form form label,
section.completed_form form textarea,
section.completed_form form p {
  margin: 1rem 0.5rem;
}
section.completed_form form .form_group {
  margin: 1rem 0;
  width: 80%;
}
section.completed_form form .form_group.family_friendly,
section.completed_form form .form_group.notes,
section.completed_form form .form_group.time_completed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
section.completed_form form textarea {
  width: 100%;
}
section.completed_form form input[type="submit"] {
  border: 1px black solid;
  cursor: pointer;
  width: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 0.5rem;
  background-color: white;
  color: black;
  transition: all 0.25s ease-in-out;
  height: 3rem;
}
section.completed_form form input[type="submit"]:hover {
  color: white;
  background-color: black;
}
section.completed_form form option {
  color: #fff;
  background-color: #111;
}
section.completed_form img {
  width: 50%;
  max-height: 500px;
  margin: 1rem;
}
section.completed_form .rating_star {
  margin-left: 1.25rem;
}
section.completed_form .rating_star > svg {
  margin: 0 0 -2px 0;
  fill: #2222228c;
}
section.completed_form .rating_star > svg.gold {
  fill: goldenrod;
}
section.completed_form input#user_rating[type="range"] {
  margin-top: 1.25rem;
  -webkit-appearance: none;
  width: 90%;
  height: 4px;
  background: #a3a3a3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
section.completed_form input#user_rating[type="range"]:hover {
  opacity: 1;
}
section.completed_form input#user_rating[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  background-image: url('/static/images/star_thumb.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
section.completed_form input#user_rating[type="range"]::-moz-range-thumb {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/static/images/star_thumb.svg');
  width: 32px;
  height: 32px;
  cursor: pointer;
}
