html {
  background-color: #131010ed;
}
html * {
  color: #eee;
}
body {
  position: relative;
}
button {
  cursor: pointer;
  color: black;
}
* {
  font-family: 'Oswald', sans-serif;
}
.heads {
  position: fixed;
  width: 100%;
  top: 0;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.heads .home_link {
  position: absolute;
  left: 37.5%;
}
.heads .home_link h2 {
  font-size: 3rem;
}
.heads .register {
  display: flex;
  justify-content: space-between;
  width: 7rem;
}
.heads button {
  color: #eee;
  background-color: transparent;
  border: none;
}
.heads .suggest {
  width: 2.75rem;
  height: 2.75rem;
}
.heads .ham-container {
  cursor: pointer;
  height: 1.5rem;
  margin-right: 1.5rem;
}
.heads .ham-container .ham {
  position: relative;
  display: inline-block;
  height: 2px;
  width: 1.5rem;
  background-color: #7db817;
  border-radius: 0.5px;
}
.heads .ham-container .ham::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: all 0.1s ease-in-out;
  background-color: #7db817;
  content: '';
  top: -7px;
}
.heads .ham-container .ham::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: all 0.1s ease-in-out;
  background-color: #7db817;
  content: '';
  top: 7px;
}
.heads .ham-container .ham ul.ham-menu {
  height: 0px;
  width: 0px;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: none;
  background-color: #1111118f;
}
.heads .ham-container .ham ul.ham-menu * {
  color: #EEE;
}
.heads .ham-container .ham ul.ham-menu a {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.heads .ham-container .ham ul.ham-menu a::after {
  height: 1px;
  content: '';
  background-color: #111;
  width: 80%;
  position: absolute;
  bottom: -1px;
  left: 10%;
}
.heads .ham-container .ham ul.ham-menu a.invite {
  height: 31px;
}
.heads .ham-container .ham ul.ham-menu a.invite::after {
  content: none;
  height: 0;
}
.heads .ham-container:hover .ham::before {
  top: -9px;
}
.heads .ham-container:hover .ham::after {
  top: 9px;
}
.heads .ham-container .ham.open {
  background-color: transparent;
}
.heads .ham-container .ham.open ul.ham-menu {
  border: 1px solid #eee;
}
.heads .ham-container .ham.open ul.ham-menu a:hover {
  background-color: #eee;
  transition: all 0.25s ease-in-out;
}
.heads .ham-container .ham.open ul.ham-menu a:hover li {
  color: #111;
}
.heads .ham-container .ham.open ul.ham-menu a:hover::after {
  background-color: transparent;
}
.heads .ham-container .ham.open::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: all 0.1s ease-in-out;
  background-color: #7db817;
  content: '';
  transform: rotate(45deg);
  top: 0;
  transition: all 0.175s ease-in-out;
}
.heads .ham-container .ham.open::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: all 0.1s ease-in-out;
  background-color: #7db817;
  content: '';
  transform: rotate(-45deg);
  top: 0;
  transition: all 0.175s ease-in-out;
}
.heads .ham-container .ham.open:hover::after,
.heads .ham-container .ham.open:hover::before {
  top: 0;
}
.heads .ham-container .ham.open ul.ham-menu {
  height: 10rem;
  width: 8rem;
}
.heads section.login {
  display: none;
}
@media only screen and (min-width: 769px) and (min-device-width: 769px) {
  .heads .suggest {
    width: 2rem;
    height: 2rem;
  }
  .heads .home_link {
    left: calc(44.25%);
  }
  .heads section.login {
    display: inline-block;
  }
  .heads .ham-container {
    display: none;
  }
}
.main {
  min-height: calc(15vh);
  width: 100%;
  margin: 0 auto;
  margin-top: 85px;
  padding: 2rem 6rem 120px 6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  font-size: 1.25rem;
}
.main * {
  color: #111;
}
form {
  text-align: center;
  margin: auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  color: black;
  margin: 1rem;
}
#faq {
  text-align: center;
  max-width: 650px;
}
#faq h2 {
  width: 100%;
  margin: 2rem 0;
}
.faq li {
  list-style-type: circle;
}
.to_faq_form {
  margin: 1.5rem;
}
.tails {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 120px;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.tails > ul {
  margin-left: 2rem;
}
