//- - const user = {is_logged_in: false, username: ""}
//- -
//-         let user = {
//-                 username: ""
//-                 , wishlist: []
//-             }
nav.heads
    //- - let loggedIn = user.is_logged_in ? true : false
    a(href="/suggestions/form"): button.suggest
        include ./trail.svg
    a(href="/").home_link
        h2.logo Trail Buddy
        script(src="/static/js/heads.js", type="application/javascript", async, defer)
    .ham-container
        .ham
            ul.ham-menu
                if !user
                    a(href="/login"): li LOGIN
                    a(href="/signup"): li SIGNUP
                else
                    a(href="/users/profile"): li PROFILE
                    a(href='/users/wishlist'): p TRAIL TO DOS
                a(href="/suggestions"): li SEARCH
                a(href="/contact"): li CONTACT
                a(href="/invite").invite: li INVITE
    section.login
        if user
            .register
                a(href="/logout"): button.logout Logout 
                a(href='/users/profile'): p #{user.username}
        else
            .register
                a(href="/login"): button.login Login
                a(href="/signup"): button.signup Signup