nav.tails
    p.copy Copyright &copy; 2018
    ul
        li.foot_link 
            a(href="/about") About the Creator
        li.foot_link
            a(href="/contact") Contact Us
        li.foot_link
            a(href="/faq") FAQ