<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Trail Buddy</title>
    <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <nav class="heads">
      <button class="suggest"><img class="suggest_icon" src="./assets/images/trail.svg" alt="Trail Icon"></button>
      <h2 class="logo">Trail Buddy</h2>
      <section class="login">Login</section>
    </nav>
    <section class="about">
      <h2>About Biker Steve</h2>
      <p>
        Stephen Edwards has been an avid health and fitness enthusiast since his late high school days.
        While tempted with video games like the rest of the millenial generation, Steve still found time to fight the urge to stay inside and play video games all day every day.
        One of Steve's favorite past times in high school was to head to the nearby watershed and free climb 100 foot rock faces.
        Steve always made time for his dose of outdoor adventure.
      </p>
    </section>
    <nav>
      <ul>
        <li class="foot_link"> <a href="/about">About the Creator</a></li>
        <li class="foot_link"><a href="/contact">Contact Us</a></li>
        <li class="foot_link"><a href="/faq">FAQ</a></li>
      </ul>
      <p class="copy">Copyright &copy; 2018</p>
    </nav>
  </body>
</html>