<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Trail Buddy</title>
    <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <nav class="heads">
      <button class="suggest"><img class="suggest_icon" src="./assets/images/trail.svg" alt="Trail Icon"></button>
      <h2 class="logo">Trail Buddy</h2>
      <section class="login">Login</section>
    </nav>
    <h1>Welcome Back Steve</h1>
    <p>Your trails await!</p>
    <ul>
      <li>Y Mountain to the Y</li>
      <li>Squaw Peak Back Trail</li>
      <li>Stuart Falls</li>
    </ul>
    <nav>
      <ul>
        <li class="foot_link"> <a href="/about">About the Creator</a></li>
        <li class="foot_link"><a href="/contact">Contact Us</a></li>
        <li class="foot_link"><a href="/faq">FAQ</a></li>
      </ul>
      <p class="copy">Copyright &copy; 2018</p>
    </nav>
  </body>
</html>