extends layout

block content
    section.about
        h2 About Biker Steve
        p.
            Stephen Edwards has been an avid health and fitness enthusiast since his late high school days.
            While tempted with video games like the rest of the millenial generation, Steve still found time to fight the urge to stay inside and play video games all day every day.
            One of Steve's favorite past times in high school was to head to the nearby watershed and free climb 100 foot rock faces.
            Steve always made time for his dose of outdoor adventure.