extends layout

block content
    section.completed_form
        form#completed_form
            h1(id=trailID) How Was Your Journey at #{trailName}?
            img(src=completedTrail.img_medium, alt=completedTrail.name)
            .form_group
                label Date of Journey:
                input#date_completed(type="date", value=(Date.now()))
            .form_group
                label Rating:
                    span.rating_star.one_star: include ../public/images/one_star.svg
                    span.rating_star.two_stars: include ../public/images/two_stars.svg
                    span.rating_star.three_stars: include ../public/images/three_stars.svg
                    span.rating_star.four_stars: include ../public/images/rating_star.svg
                    span.rating_star.five_stars: include ../public/images/rating_star.svg
                        
                input(name="rating", type="range", min="1", max="5")#user_rating