extends layout

block content
    style
        include ../public/styles/css/dashboard.css
    section.dashboard
        h1 Welcome Back #{user.username}
        include ./search
        include ./wishlist