
doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title Trail Buddy
        script(
            src="https://code.jquery.com/jquery-3.3.1.min.js"
        )
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        link(rel='stylesheet', type='text/css', href='/static/styles/css/reset.css')
        link(rel='stylesheet', type='text/css', href='/static/styles/css/main.css')
        link(rel="icon" href="/static/favicon.png")
        link(href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet")
    body
        -
            const difficulties = {
                            green: 'Family Friendly'
                            , greenBlue: 'Easy Going'
                            , blue: 'Moderate'
                            , blueBlack: 'Somewhat Difficult'
                            , black: 'Advanced'
                            , dblack: 'Extremely Difficult'
                        }
        block heads
            include ../partials/heads
        section.main
            block content
        block tails
            include ../partials/tails
    script(type="application/javascript", src="/static/js/main.js")
    