
doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title Trail Buddy
        script(
            src="https://code.jquery.com/jquery-3.3.1.min.js"
        )
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        link(rel='stylesheet', type='text/css', href='/static/styles/reset.css')
        link(rel='stylesheet', type='text/css', href='/static/styles/main.css')
        link(rel="icon" href="/static/favicon.png")
    body
        block heads
            include ../partials/heads
        section.main
            block content
        block tails
            include ../partials/tails
    script(type="text/javascript", src="/static/js/main.js")
    script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.G_MAPS_KEY}&callback=initMap`
    async defer)