doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title Trail Buddy
        link(rel="stylesheet", href="../assets/styles/reset.css")
        link(rel="stylesheet", href="main.css")
    body
        block heads
            include ../includes/heads
        block content
        block tails
            include ../includes/tails