doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title Trail Buddy
        script(
            src="https://code.jquery.com/jquery-3.3.1.min.js"
        )
        link(rel='stylesheet', type='text/css', href='/static/styles/reset.css')
        link(rel='stylesheet', type='text/css', href='/static/styles/main.css')
    //- style
    //-     include ./styles/reset.css
    //-     include ./styles/main.css
    body
        block heads
            include ../partials/heads
        section.main
            block content
        block tails
            include ../partials/tails
    script(type="text/javascript", src="/static/js/main.js")