extends layout

block content
    script(src="/static/js/search.js", type="application/javascript", async, defer)
    section.search_container
        a(href="/suggestions"): button Give Me a Random One!
        form.search
            h3 Search Trails
            .form_group
                label Address
                input(type="text", name="location")
            .form_group
                label Max Distance From Location (miles)
                input(name="max-distance", type="number")
            .form_group_advanced
                label Difficulty Level
                input(name="difficulty", type="text")
            #advanced_question Advanced Search
            .form_group_advanced
                label Difficulty Level
                input(name="difficulty", type="text")
            .form_group_advanced
                label Difficulty Level
                input(name="difficulty", type="text")

            