@import (reference) 'variables';
.ham-buns(@topNum){
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: @topNum;
    transition: all 0.25s ease-in-out;
    background-color: @lettuce; 
    content: '';
}
.heads{
    position: fixed;
    width: 100%;
    top: 0;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .home_link{
        font-size: 2.5rem;
        position: absolute;
        left: calc(50% - 5.75rem);
    }
    .register{
        display: flex;
        justify-content: space-between;
        width: 7rem;
    }
    button{
        color: #eee;
        background-color: transparent;
        border: none;
    }
    .suggest{
        width: 1.75rem;
        height: 1.75rem;
    }
    .ham{
        position: relative;
        display: inline-block;
        height: 2px;
        width: 1.5rem;
        background-color: @lettuce;
        border-radius: 0.5px;
        &::before{
            .ham-buns(-0.35rem);
        }
        &::after{
            .ham-buns(0.35rem);
        }
        &:hover{
            &::before{
                top: -0.45rem;
            }
            &::after{
                top: 0.45rem;
            }
        }
        ul.ham-menu{
            height: 0px;
            width: 0px;
            transition: all 0.25s ease-in-out;
            border: none;
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 0;
        }
        &.open{
            border: 1px solid #fff;
            ul.ham-menu{
                height: 12rem;
                width: 8rem;
            }
        }
    }
    section.login{
        display: none;
    }
    @media @iphone8plusMax{
        section.login{
            display: inline-block;
        }
        .ham{
            display: none;
        }
    }
}
