@import (reference) 'variables';
.ham_buns(){
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    .ease(@time: 0.1s);
    background-color: @lettuce; 
    content: '';
}
.heads{
    position: fixed;
    width: 100%;
    top: 0;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #111;
    z-index: 2;
    .home_link{
        h2{
            font-size: 3rem;
            .ease(@time: 0.2s);
        }
        &:hover{
            h2{
                color: #967635;
            }
        }
        position: absolute;
        left: 37.5%;
    }
    .register{
        display: flex;
        justify-content: space-between;
        width: 7rem;
        *{
            .ease(@time: 0.2s);
        }
        .profile_pic{
            .flex(@jc: space-around; @width: auto);
            margin: 0 0.25rem;
            svg{
                width: 1.5rem;
                height: 1.5rem;
            }
            &:hover{
                button{
                    color: #967635;
                }
                path{
                    fill: #967635;
                }
            }   
        }
        button{
            &:hover{
                color: #967635;
                svg path{
                    fill: #967635;
                }
            }
        }
    }
    button{
        color: #eee;
        background-color: transparent;
        border: none;
        font-size: unset;
    }
    .suggest{
        width: 2.75rem;
        height: 2.75rem;
        fill: #eee;
        .ease(@time: 0.2s);
        &:hover{
            fill: #967635;
        }
    }
    .ham_container{
        cursor: pointer;
        height: 1.5rem;
        margin-right: 1.5rem;
        
        .ham{
            position: relative;
            display: inline-block;
            height: 2px;
            width: 1.5rem;
            background-color: @lettuce;
            border-radius: 0.5px;
            &::before{
                .ham_buns();
                top: -7px;
            }
            &::after{
                .ham_buns();
                top: 7px;
            }
            ul.ham_menu{
                .ham_rules();
            }
        }
        &:hover{
            .ham{
                &::before{
                    top: -9px;
                }
                &::after{
                    top: 9px;
                }
            }
        }
        .ham.open{
            background-color: transparent;
            ul.ham_menu{
                .ham_rules_open();
            }
            &::before{
                .ham_buns();
                transform: rotate(45deg);
                top: 0;
                .ease(@time: 0.175s);
            }
            &::after{
                .ham_buns();
                transform: rotate(-45deg);
                top: 0;
                .ease(@time: 0.175s);
            }
            &:hover{
                &::after, &::before{
                top: 0;
                }
            }
        }
    }
    section.login{
        display: none;
    }
    @media @ipadMax{
        .suggest{
            width: 2rem;
            height: 2rem;
        }
        .home_link{
            left: calc(50% - 5.75rem);
        }
        section.login{
            // display: inline-block;
            .flex(@width: auto);
            .burger_container{
                position: relative;
                .real_hamburger{
                    width: 2.5rem;
                    height: 2.5rem;
                    fill: #eee;
                    .ease();
                    cursor: pointer;
                    &:hover{
                        fill: #967635;
                    }
                }
                ul.burger_menu{
                    .ham_rules();
                    top: 3rem;
                }
                &.open{
                    ul.burger_menu{
                        .ham_rules_open();
                    }
                }
            }
            .register{
                .flex();
            }
        }
        .ham_container{
            display: none;
        }
    }
    @media @max1365{
        .home_link{
            left: 41.75%;
        }
        
    }
}
