@import (reference) 'variables';
.ham-buns(){
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    .ease(@time: 0.1s);
    background-color: @lettuce; 
    content: '';
}
.heads{
    position: fixed;
    width: 100%;
    top: 0;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #111;
    z-index: 2;
    .home_link{
        h2{
            font-size: 3rem;
            .ease(@time: 0.2s);
        }
        &:hover{
            h2{
                color: #967635;
            }
        }
        position: absolute;
        left: 37.5%;
    }
    .register{
        display: flex;
        justify-content: space-between;
        width: 7rem;
        *{
            .ease(@time: 0.2s);
        }
        .profile_pic{
            .flex(@jc: space-around; @width: auto);
            margin: 0 0.25rem;
            svg{
                width: 1.5rem;
                height: 1.5rem;
            }
            &:hover{
                button{
                    color: #967635;
                }
                path{
                    fill: #967635;
                }
            }   
        }
        button{
            &:hover{
                color: #967635;
                svg path{
                    fill: #967635;
                }
            }
        }
    }
    button{
        color: #eee;
        background-color: transparent;
        border: none;
        font-size: unset;
    }
    .suggest{
        width: 2.75rem;
        height: 2.75rem;
        fill: #eee;
        .ease(@time: 0.2s);
        &:hover{
            fill: #967635;
        }
    }
    .ham-container{
        cursor: pointer;
        height: 1.5rem;
        margin-right: 1.5rem;
        
        .ham{
            position: relative;
            display: inline-block;
            height: 2px;
            width: 1.5rem;
            background-color: @lettuce;
            border-radius: 0.5px;
            &::before{
                .ham-buns();
                top: -7px;
            }
            &::after{
                .ham-buns();
                top: 7px;
            }
            ul.ham-menu{
                height: 0px;
                width: 0px;
                .ease();
                border: none;
                overflow: hidden;
                position: absolute;
                top: 2rem;
                right: 2rem;
                font-size: 1.125rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                border: none;
                background-color: #1111118f;
                *{
                    color: #EEE;
                }
                a{
                    width: 100%;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    &::after{
                        height: 1px;
                        content: '';
                        background-color: #111;
                        width: 80%;
                        position: absolute;
                        bottom: -1px;
                        left: 10%;
                    }
                }
                a.invite{
                    height: 31px;
                    &::after{
                        content: none;
                        height: 0;
                    }
                }
            }
        }
        &:hover{
            .ham{
                &::before{
                    top: -9px;
                }
                &::after{
                    top: 9px;
                }
            }
        }
        .ham.open{
            background-color: transparent;
            ul.ham-menu{
                border: 1px solid #eee;
                a:hover{
                    background-color: #eee;
                    li{
                        color: #111;
                    }
                    .ease();
                    &::after{
                        background-color: transparent;
                    }
                }
            }
            &::before{
                .ham-buns();
                transform: rotate(45deg);
                top: 0;
                .ease(@time: 0.175s);
            }
            &::after{
                .ham-buns();
                transform: rotate(-45deg);
                top: 0;
                .ease(@time: 0.175s);
            }
            &:hover{
                &::after, &::before{
                top: 0;
                }
            }
            ul.ham-menu{
                height: 10rem;
                width: 8rem;
            }
        }
    }
    section.login{
        display: none;
    }
    @media @ipadMax{
        .suggest{
            width: 2rem;
            height: 2rem;
        }
        .home_link{
            left: calc(50% - 5.75rem);
        }
        section.login{
            display: inline-block;
        }
        .ham-container{
            display: none;
        }
    }
    @media @max1365{
        .home_link{
            left: 41.75%;
        }
        
    }
}
