@iphone5max: ~"only screen and (min-device-width: 320px)";
@iphone8max: ~"only screen and (min-device-width: 376px)";
@iphone8plusMax: ~"only screen and (min-device-width: 415px)";
@ipadMax: ~"only screen and (min-device-width: 768px)";
@ipadProMax: ~"only screen and (min-width: 1025px)";
@max1200: ~"only screen and (min-width: 1200px)";
@max1400: ~"only screen and (min-width: 1400px)";

@lettuce: rgb(125, 184, 23);