html{
    background-color: black;
}

html *{
    color: #eee;
}

body{
    position: relative;
}

button{
    cursor: pointer;
    color: black;
}

.heads{
    position: fixed;
    width: 100%;
    top: 0;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.heads h2{
    margin-left: 3rem;
    font-size: 2rem;
    justify-self: center;
}

.heads .register{
    display: flex;
    justify-content: space-between;
    width: 7rem;
}

.heads button{
    color: #eee;
    background-color: transparent;
    border: none;
}

.suggest{
    width: 1.75rem;
    height: 1.75rem;
}

.main{
    min-height: calc(100vh - 120px);
    width: 100%;
    margin-top: 85px;
    padding-bottom: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.trail{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #555;
    margin: 1rem;

}

div.trail-info{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
    align-items: flex-end;
}

form{
    text-align: center;
    margin: auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    color: black;
    margin: 1rem;
}

.tails{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 120px;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.tails>ul{
    margin-left: 2rem;
}