section.trail{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
section.trail>.trail-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 6rem;
    height: 4rem;
    justify-content: space-between;
}

.trail-head>.head-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

section.trail h2{
    text-transform: capitalize;
}

section.trail>.trail-img-md{
    max-width: 100%;
    margin: 1rem auto;
}

.trail_info{
    display: flex;
    width: 100%;
    padding: 0 6rem;
    justify-content: space-evenly;
    height: 15rem;
}

.trail_info>.left_info, .trail_info>.right_info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%
}

#map{
    height: 400px;
    width: 100%;
}