- const user = {is_logged_in: false, username: ""}
nav.heads
    button.suggest
        img.suggest_icon(src="./assets/images/trail.svg", alt="Trail Icon")
    h2.logo Trail Buddy
    section.login #{user.is_logged_in ? user.username : "Login"}