@import (reference) '../imports/variables';
html{
    background-color: black;
}

html *{
    color: #eee;
}

body{
    position: relative;
}

button{
    cursor: pointer;
    color: black;
}

@import '../imports/heads';

.main{
    min-height: calc(100vh - 85px);
    width: 80%;
    margin: 0 auto;
    margin-top: 85px;
    padding: 10rem;
    padding-bottom: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff14;
}

div.trail{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #555;
    margin: 1rem;

}

div.trail-info{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
    align-items: flex-end;
    svg.star{
        width: 1rem;
        cursor: pointer;
        height: 1rem;
        transition: all 0.2s ease-in-out;
        &:hover{
            fill: gold;
            color: gold;
        }
    }
}

form{
    text-align: center;
    margin: auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        color: black;
        margin: 1rem;
    }
}


#faq{
    text-align: center;
    max-width: 650px;
    h2{
        width: 100%;
        margin: 2rem 0;
    }
}
.faq li{
    list-style-type: circle;
}
.to_faq_form{
    margin: 1.5rem;
}

@import '../imports/tails';